


html{
  overflow-x: hidden;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}
.card:hover{
  box-shadow: 0px 20px 40px rgba(145, 140, 140, 0.2);
  transform: translateY(3px);

}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  text-align: center;
  cursor: pointer;
  width: 90%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.5;
}
.card .img {
  height: 250px;
}
.card p {
  color: rgb(54, 53, 53);
}
.card h1 {
  color: #000;
  font-size: 25px;
  padding-top: 10px;
}
/* carousel next button  start */

.owl-dots {
  display: none;
}
.owl-prev span {
  display: none;
}
.owl-nav button {
  position: absolute;
  top: 150px;
  /* left: 93%; */
  background-color: aqua;
  height: 100px;
  width: 100px;
}
.owl-next {
  right: 0;
}
.owl-next span {
  font-size: 100px;
  padding-bottom: 30px;
}
.owl-theme .owl-nav [class*="owl-"]:hover {
  background-color: transparent;
  color: rgb(116, 109, 109);
}
/* carousel next button end */
