.company_logo {
  width: 120px;
  background-color: #f8f9fa !important;
}


.btn-classes{
  font-size: 11px !important;
  box-shadow: 0 5px 5px rgb(139, 135, 135) !important;

}
.navbar-brand {
  font-size: 30px;
  font-weight: 700;
  /* font-family: "Sedgwick Ave", cursive; */
}

/* .bannerImage{
  width:100vw;
} */

.navigation_class{
  background-color: #0164C9;
}

.navbar-nav{
  margin-left: 50px;
}
.nav-link{
  background-color: #0164C9;
}

.nav-item{
  padding: 0px !important;
}


/* @import url(//fonts.googleapis.com/css?family=Montserrat:400,700); */
.static-slider10 {
  /* font-family: "Montserrat", sans-serif; */
  font-weight: 300;
  padding: 3% 0;
  background-size: cover;
  background-position: center center;
}
.static-slider10 .title {
  font-weight: 700;
  font-size: 35px;
  line-height: 50px;
}

.static-slider10 .subtitle {
  line-height: 24px;
}





/* media queries */
@media (max-width: 1070px) {
.btn-classes{
  padding-left: 2px !important;
  padding-right: 2px !important;
  font-size: 13px !important;
}}
@media (max-width: 1000px) {
  .btn-classes{
    font-size: 11px !important;
  }
}

@media (max-width: 900px) {
  .static-slider10 .title {
    font-size: 40px;
    line-height: 45px;
  }
}

.static-slider10 .btn-md {
  padding: 15px 45px;
  font-size: 16px;
}

.static-slider10 .badge {
  line-height: 21px;
}

.static-slider10 .badge-inverse {
  background: #3e4555;
}

.static-slider10 .op-8 {
  opacity: 0.8;
}

@media (max-width:900px) {
  .btn-classes{
    padding-left: 2px !important;
    padding-right: 2px !important;
    font-size: 11px !important;
  }
.btn_cont{
  margin-bottom: 20px;
}

}
@media (max-width: 600px) {
.buttons_grid{
 margin-left: 6% !important; 
}

.static-slider10{
  background-size: 100% 70% !important;
}
}


@media (max-width: 420px) {
.static-slider10{
  background-size: 100% 60% !important;
}
}

@media (max-width: 320px) {
  .static-slider10 .title {
    font-size: 25px !important;
  }
}
