.owl-next {
  right: 0 !important;
}
.owl-prev span {
  display: block;
  font-size: 100px;
}
.owl-prev {
  left: 0 !important;
}
.owl-item {
  padding:0px !important;
  /* border-radius: 20px !important; */
}

@media screen and (max-width: 992px) {
  .heading_Content{
    display: none !important;
  }

  .MuiGrid-root > div{
    /* display: none; */
  }

  .media_Class{
    justify-content: center !important;
  }
}